<a href="https://colab.research.google.com/github/DalsinaLorda/Chordzy/blob/main/aibootcamp_pythonbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://drive.google.com/uc?export=view&id=1V_BPiA4bbfXQ9oqazX2-DirGwM64KFYI)

This tutorial was originally written by [Justin Johnson](https://web.eecs.umich.edu/~justincj/) for cs231n. It was adapted as a Jupyter notebook for cs228 by [Volodymyr Kuleshov](http://web.stanford.edu/~kuleshov/) and [Isaac Caswell](https://symsys.stanford.edu/viewing/symsysaffiliate/21335).

This version has been adapted for Colab by Kevin Zakka for the Spring 2020 edition of [cs231n](https://cs231n.github.io/). It runs Python3 by default.

##Introduction

This crash course will equip you with the fundamental building blocks of Python. We'll explore essential data types like numbers and text, delve into containers like lists and dictionaries to organize information, and learn how to create functions and classes – reusable tools that streamline your code and make it more powerful. By the end of this session, you'll have a solid foundation for building your own Python programs!

## Google Colab

Google Colab is interactive computing environment that enables users to author notebook documents that include:

Live code

* Interactive widgets
* Plots
* Narrative text
* Equations
* Images
* Video

You can access your interactive python coding environment to create ipython notebooks at: https://colab.research.google.com/

##Basics of Python

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable.

###Comments

There are three types of comments: single-line, multi-line, and docstring comments. The syntax of comments varies depending on the type. This tutorial will explore every kind of comment individually, along with examples.

1. **Single-Line Comments**

  Single-line comments begin with the “#” character. Anything that is written in a single line after ‘#’ is considered as a comment.  There are two ways of using single-line comments in Python. You can use it before the code or next to the code. The example depicted below shows the use of comments in both ways.

In [ ]:
# This is a single-line comment before the code
print('comment') # This is a single-line comment next to the code

comment

  2. **Multi-Line Comments**

  Python does not support multi-line comments. However, there are multiple ways to overcome this issue. None of these ways are technically multi-line comments, but you can use them as one. The first way is by using # at the beginning of each line of the comment

In [ ]:
# This is a comment line
# This is another comment line
# This is a third comment line

You can also use multi-line strings for commenting. To do this, use either a ‘’ or “” quotation marks three times.

In [ ]:
"""
This is a multi-line comment
This is the second line
This is the third line
"""

'\nThis is a multi-line comment\nThis is the second line\nThis is the third line\n'

**Exercise**

Write a single line comment below

###Basic data types

####Numbers

Integers and floats work as you would expect from other languages:

In [14]:
x = 6

print(x)
print(type(x))

6
<class 'int'>

In [15]:
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 2)  # Exponentiation

7
5
12
36

In [16]:
x += 5          # Addition
print(x-1)

x *= 2          # Multiplication
print(x)

10
22

In [4]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

**Exercise**

In [5]:
x = 10.00

# write a line code below to print the value of x


# write a line code below to print the type of x

Note that unlike many languages, Python does not have unary increment (x++) or decrement (x--) operators.

Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#numeric-types-int-float-long-complex).

####Booleans

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [6]:
# a boolean variable is declared as follows
t = True

# multiple boolean variables can be declared as follows
t = True
f = False

# or
# multiple boolean variables can cals be declared as follows
t, f = True, False

# print the type of t and f
print(type(t))
print(type(f))

# print the values of t and f
print(t)
print(f)

<class 'bool'>
<class 'bool'>
True
False

Boolean operations:

In [17]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

**Exercise**

In [8]:
var1 = True
var2 = False
var3 = var1 and var2

# What is the value of var3?
# print it to check.

####Strings

In Python, strings are the fundamental way to represent text data. They are essentially sequences of characters, like letters, numbers, or symbols, enclosed within either single or double quotes.  These versatile building blocks form the foundation for various tasks in Python, from creating informative messages to storing user input and manipulating text data.

In [19]:
hello = 'hello lorda'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter

print(hello, len(hello))

hello lorda 11

In [20]:
greetings = 'hello' + ' ' + 'lorda'  # String concatenation
print(greetings)

hello lorda

In [11]:
greetings = '{} {} {}'.format(hello, world, 12)  # string formatting
print(greetings)

hello world 12

String objects have a bunch of useful methods; for example:

In [12]:
mystring = "hello"
print(mystring.capitalize())  # Capitalize a string
print(mystring.upper())       # Convert a string to uppercase; prints "HELLO"
print(mystring.rjust(7))      # Right-justify a string, padding with spaces
print(mystring.center(7))     # Center a string, padding with spaces
print(mystring.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

**Exercise**

In [21]:
# Create a variable to store your name then print it.
name='lorda'
print(name)

lorda

You can find a list of all string methods in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#string-methods).

###Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

####Lists

In Python, a list is an ordered collection of items that can hold various data types like numbers, text, or even other lists. A list is the Python equivalent of an array and is resizeable.

In [ ]:
mylist = [3, 1, 2]   # Create a list
print(mylist)

[3, 1, 2]

In [ ]:
print(mylist[2])   # print the third element in the list
print(mylist[-1])  # Negative indices count from the end of the list; prints "2"

2
2

In [ ]:
mylist[2] = 'foo'    # Lists can contain elements of different types
print(mylist)

[3, 1, 'foo']

In [ ]:
mylist.append('bar') # Add a new element to the end of the list
print(mylist)

[3, 1, 'foo', 'bar']

In [ ]:
x = mylist.pop()     # Remove and return the last element of the list
print(x)
print(mylist)

bar
[3, 1, 'foo']

**Exercise**

In [ ]:
# Here is an empty list
your_list = []

# Write code below to add the following integers to the list 29, 9, 10


# print your list
print(your_list)

[]

As usual, you can find all the gory details about lists in the [documentation](https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists).

####Slicing

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [ ]:
# Lets create a list of integers using the range  built-in function
nums = list(range(5))  # range will generate a list of integers starting at 0 to 5
print(nums)            # Prints "[0, 1, 2, 3, 4]"

[0, 1, 2, 3, 4]

In [ ]:
print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"

[8, 9]
[8, 9, 4]
[0, 1]
[0, 1, 8, 9, 4]
[0, 1, 8, 9]

In [ ]:
nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)         # Prints "[0, 1, 8, 9, 4]"

[0, 1, 8, 9, 4]

**Exercise**

In [26]:
# a list of integers
my_list = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# write a loop to print the elements of my_list
for i, j in enumerate(my_list):
  print('{} {}'.format(i+1, j))

1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10

In [ ]:
# print the elements of the array nums from index 1 to 3

####Loops

You can loop over the elements of a list like this:

In [23]:
animals = ['cat', 'dog', 'monkey', 'cow']
for a in animals:
    print(a, len(a))

cat 3
dog 3
monkey 6
cow 3

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for index, animal in enumerate(animals):
    print('#{}: {}'.format(index + 1, animal))

#1: cat
#2: dog
#3: monkey

####List comprehensions:

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]

In [ ]:
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [ ]:
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [ ]:
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

**Exercise**

In [27]:
my_list = [2, 4, 6]

# write code to multiply each element of my_list by 10
for i in my_list:
  print(i*10)



# print the content of my_list
print( my_list )

20
40
60
[2, 4, 6]

####Dictionaries

A dictionary stores (key, value) pairs, similar to a `Map` in Java or an object in Javascript. You can use it like this:

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print( d ) # print the content of the d

{'cat': 'cute', 'dog': 'furry'}

In [ ]:
print(d['cat'])       # Get an entry from a dictionary; prints "cute"

cute

In [ ]:
print('cat' in d)     # Check if a dictionary has a given key; prints "True"

True

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"

wet

In [ ]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: 'monkey'

In [ ]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; prints "wet"

N/A
wet

In [ ]:
del d['fish']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

N/A

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

It is easy to iterate over the keys in a dictionary:

In [29]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

**Exercise**

In [28]:
# initialize a dictionary of people names and ages
my_dictionary = {'james': 12, 'brian': 43, 'steven': 18}

# print brian's age
print(my_dictionary['brian'])

43

####Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [33]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('Fish' in animals)  # prints "False"

True
False

In [34]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))

3

In [ ]:
animals.remove('cat')    # Remove an element from a set
print(len(animals))

2

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: dog
#2: cat
#3: fish

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

{0, 1, 2, 3, 4, 5}

####Tuples

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [ ]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
print(d)

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}

In [ ]:
t = (5, 6)       # Create a tuple
print(type(t))

print(d[t])       # Print the element whose key is the type (5,6)
print(d[(1, 2)])  # Print the element whose key is the type (1,2)

<class 'tuple'>
5
1

In [ ]:
t[0] = 1 # tuples cannot be modified like arrays because they're immutable

TypeError: 'tuple' object does not support item assignment

###Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

In [ ]:
# Use the function
for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

We will often define functions to take optional keyword arguments, like this:

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

In [ ]:
hello('Bob')
hello('Fred', loud=True)

Hello, Bob!
HELLO, FRED

**Exercise**

In [ ]:
# write code to define a function that prints the word "hello"

###Classes

In Python, classes act like blueprints for creating objects.  Think of a class as a template that defines the characteristics (attributes) and functionalities (methods) that all objects of that class will share.  For instance, a Dog class might have attributes like breed and age, and methods like bark() and wag_tail().  By creating objects (or instances) from this class, you get individual "dogs" with their own unique data (e.g., a Golden Retriever puppy with specific age), but they all inherit the same base characteristics and functionalities defined in the Dog class. This approach promotes code reusability, organization, and maintainability in your Python programs.

The syntax for defining classes in Python is straightforward:

In [ ]:
class Greeter:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
          print('HELLO, {}'.format(self.name.upper()))
        else:
          print('Hello, {}!'.format(self.name))

In [ ]:
g = Greeter('James')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

Hello, James!
HELLO, JAMES

**Exercise**

* Define a class named Car.
* Inside the class, define two attributes:
  *  **model** (to store the car model) and
  *  **color** (to store the car color). These attributes can be initialized with default values (e.g., model="unknown", color="unknown").
* Create a method named **display_info** that prints information about the car. This method should access the model and color attributes and print them in a user-friendly format.

In [ ]:
# write your car code below this line

**Solution**

In [ ]:
class Car:
  def __init__(self, model="unknown", color="unknown"):
    self.model = model
    self.color = color

  def display_info(self):
    print(f"This car is a {self.model} and it's {self.color}.")

# Create a Car object (instance)
my_car = Car("Honda Civic", "red")

# Call the display_info method to print car information
my_car.display_info()